@use './../../styles/variables' as *;
@use './../../styles/mixins' as *;
.hero {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	& video {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		top: 0;
	}
	& div.hero-image {
		display: flex;
		position: absolute;
		opacity: 0;
		&.hero-image-left {
			left: 0;
			bottom: 0;
			--translateXStart: -50px;
			--translateXEnd: 0;
			animation: fadeIn 600ms 1000ms var(--cubic-bezier-ease) forwards;
			filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.5));
		}
		&.hero-image-right {
			right: 0;
			bottom: 0;
			--translateXStart: 50px;
			--translateXEnd: 0;
			animation: fadeIn 600ms 1000ms var(--cubic-bezier-ease) forwards;
			filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
		}

		& img {
			width: 700px;
			aspect-ratio: 1.5/2;
		}
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #{$primary-green-dark};
		max-width: 1000px;
		& h1,
		& > p {
			font-size: 20px;
			margin: 20px 0;
			opacity: 0;
		}
		& h1 {
			color: #{$primary-green-dark};
			font-size: 50px;
			font-weight: 700;
			line-height: 1.2;
			--translateYStart: -20px;
			--translateYEnd: 0;
			animation: fadeIn 400ms 700ms var(--cubic-bezier-ease) forwards;
		}
		& > p {
			--translateYStart: 20px;
			--translateYEnd: 0;
			animation: fadeIn 600ms 750ms var(--cubic-bezier-ease) forwards;
		}

		& div.hero-cta {
			display: flex;
			button {
				opacity: 0;
				display: flex;
				height: 70px;
				width: 250px;
				box-shadow: var(--box-shadow-primary);
				font-weight: 600;
				margin: 20px 40px;
				transition: all 200ms var(--cubic-bezier-ease);
				& > p {
					transition: all 300ms var(--cubic-bezier-ease);
					display: flex;
					width: 100%;
					height: 100%;
					text-align: center;
					justify-content: center;
					align-items: center;
				}
				&:last-of-type {
					--translateXStart: -40px;
					--translateXEnd: 0;
					animation: fadeIn 600ms 750ms var(--cubic-bezier-ease) forwards;
					&:hover {
						background-color: var(--color-text-secondary);
					}
				}

				&:first-of-type {
					color: var(--color-text-primary);
					background-color: #{white};
					--translateXStart: 40px;
					--translateXEnd: 0;
					animation: fadeIn 600ms 750ms var(--cubic-bezier-ease) forwards;
				}
			}
		}
	}
	@include respond-down-to('3xl') {
		& div.hero-image {
			& img {
				width: 400px;
			}
		}
		&-text {
			& h1 {
				font-size: 40px;
			}
			& > p {
				max-width: 600px;
				font-size: 20px;
			}
			& div.hero-cta {
				flex-direction: column;
				button {
					width: 200px;
					height: 60px;
					font-size: 14px;
					margin: 10px;
				}
			}
		}
	}

	@include respond-down-to('lg') {
		&-text {
			& h1 {
				font-size: 50px;
			}
			& > p {
				max-width: 400px;
				font-size: 26px;
			}
			& div.hero-cta {
				flex-direction: column;
				button {
					width: 200px;
					height: 60px;
					font-size: 14px;
					margin: 10px;
				}
			}
		}
		& div.hero-image {
			& img {
				display: none;
			}
		}
	}
	@include respond-down-to('4xl') {
		&-text {
			& h1 {
				font-size: 40px;
				max-width: 550px;
			}
			& > p {
				max-width: 650px;
				font-size: 24px;
			}
		}
		& div.hero-cta {
			button {
				width: 200px;
				height: 60px;
				font-size: 14px;
				margin: 10px;
			}
		}
		& div.hero-image {
			& img {
				width: 500px;
				height: auto;
			}
		}
	}
}

.differences {
	&-container {
		display: flex;
		flex-direction: column;
		padding: 50px;
		align-items: center;
		justify-content: center;
	}
	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 20px;
		h2 {
			font-size: 36px;
			color: #{$primary-green-dark};
			font-weight: 700;
			margin-bottom: 10px;
			opacity: 0;
		}
	}
	&-cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 30px;
		& div.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			text-align: center;
			padding: 40px;
			width: 400px;
			height: 400px;
			margin: 0 20px;
			border-radius: var(--border-radius-primary);
			isolation: isolate;
			overflow: hidden;
			cursor: pointer;
			transition: all 350ms var(--cubic-bezier-ease);
			opacity: 0;

			& i {
				background-color: var(--color-text-secondary);
				margin: 20px 0;
				position: relative;
			}
			& h3 {
				font-size: 24px;
				color: #{$primary-green-dark};
				margin-bottom: 10px;
			}
			& p {
				text-align: left;
				font-size: 16px;
				color: #{$primary-green-dark};
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				z-index: -1;
				transition: all 550ms linear;
			}
			&::after {
				inset: 5px;
				border-radius: calc(var(--border-radius-primary) - 2px);
				background-color: #{$white};
			}
			&::before {
				width: 200%;
				height: 200%;
				inset: -5px;
				background-image: conic-gradient(
					#{$primary-green-dark} 0deg,
					transparent 60deg,
					transparent 180deg,
					#{$primary-green-dark} 180deg,
					transparent 240deg
				);
				inset: -50%;
				border-radius: var(--border-radius-primary);
				transition: opacity 300ms var(--cubic-bezier-ease);
				animation: custom-spin 3s linear forwards infinite;
				animation-play-state: paused;
			}
			&:hover {
				& p,
				& h3 {
					color: #{$white};
				}
				& i {
					background-color: #{$white};
				}
			}
			&:hover::after {
				background-color: #{$primary-green-dark};
			}
			&:hover::before {
				animation-play-state: running;
			}
		}
		@include respond-down-to('lg') {
			flex-direction: column;
			align-items: center;
			& > div.card {
				margin: 20px 0;
			}
		}
	}
	&-cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
		p {
			font-size: 18px;
			max-width: 500px;
			color: #{$primary-green-dark};
			margin: 20px 0;
			text-align: center;
			font-style: italic;
			opacity: 0;
		}
		& button {
			opacity: 0;
		}
	}

	&-container.differences--shown,
	&-container.differences--mobile {
		& .differences-header h2 {
			animation: fadeIn 600ms var(--cubic-bezier-ease) forwards;
		}
		& .differences-cards .card {
			--animation-duration: 500ms;
			--animation-position-start: -100%;
			--scaleStart: 0.8;
			--scaleEnd: 1;
			&:nth-of-type(1) {
				animation: scale-to-normal var(--animation-duration) 500ms
					var(--cubic-bezier-ease) forwards;
			}
			&:nth-of-type(2) {
				animation: scale-to-normal var(--animation-duration) 600ms
					var(--cubic-bezier-ease) forwards;
			}
			&:nth-of-type(3) {
				animation: scale-to-normal var(--animation-duration) 700ms
					var(--cubic-bezier-ease) forwards;
			}
			&:nth-of-type(4) {
				animation: scale-to-normal var(--animation-duration) 800ms
					var(--cubic-bezier-ease) forwards;
			}
			&:nth-of-type(5) {
				animation: scale-to-normal var(--animation-duration) 1000ms
					var(--cubic-bezier-ease) forwards;
			}
		}
		& .differences-cta {
			& p {
				--translateXStart: 50%;
				--translateXEnd: 0;
				animation: fadeIn 500ms 1000ms linear forwards;
			}
			& button {
				--scaleStart: 1.5;
				--scaleEnd: 1;
				animation: scale-to-normal 500ms var(--cubic-bezier-ease) 1200ms
					forwards;
			}
		}
	}

	&-container.differences--mobile {
		& .differences-header h2 {
			font-size: 28px;
			animation: fadeIn 600ms var(--cubic-bezier-ease) forwards;
		}
		& .differences-cards .card {
			width: 350px;
			height: 500px;
		}
	}
}

.itm-services {
	display: flex;
	flex-direction: column;
	background-color: #{$beige};
	padding: 50px;
	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2 {
			font-size: 36px;
			color: #{$primary-green-dark};
			font-weight: 700;
			margin-bottom: 20px;
			display: flex;
			& span {
				opacity: 0;
				&:nth-of-type(2) p {
					position: relative;
					margin: 0 30px;
					z-index: 1;
					color: #{$white};
					&::before {
						content: '';
						display: flex;
						position: absolute;
						width: 120%;
						height: 110%;
						top: -5px;
						left: -15px;
						z-index: -1;
						transform: skew(-20deg);
						background-color: #{$primary-green-dark};
					}
				}
			}
		}
		& p.itm-services-subtitle {
			max-width: 890px;
			opacity: 0;
		}
	}
	&-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 30px;
	}
	&-item {
		display: flex;
		position: relative;
		flex-direction: column;
		width: 450px;
		height: 500px;
		text-align: left;
		background-color: #{$white};
		border-radius: var(--border-radius-primary);
		border-top-right-radius: 150px;
		border-bottom-left-radius: 150px;
		box-shadow: var(--box-shadow-primary);
		margin: 50px 100px;
		padding: 40px;
		transition: all 300ms var(--cubic-bezier-ease);
		cursor: pointer;
		opacity: 0;
		& h3 {
			font-size: 24px;
			color: #{$primary-green-dark};
			margin-bottom: 10px;
		}
		& p {
			font-size: 16px;
			min-height: 100px;
			color: #{$primary-green-dark};
			margin-bottom: 20px;
		}

		& div.itm-services-cta button {
			transition: all 100ms linear;
			backface-visibility: hidden;
			box-shadow: var(--box-shadow-primary);
			&:hover {
				transform: translateY(-2.5px);
			}
			&:active {
				transform: translateY(0);
				box-shadow: var(--box-shadow-active-primary);
			}
		}

		& img {
			display: flex;
			position: absolute;
			bottom: -100px;
			right: -60px;
			width: 320px;
			filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
		}
	}
	&-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 100px 0 0 0;
		& p {
			font-size: 18px;
			max-width: 100%;
			color: #{$primary-green-dark};
			text-align: center;
			font-style: italic;
			opacity: 0;
		}
		& div.itm-services-footer-cta {
			margin: 20px 0;
			opacity: 0;
			& button {
				transition: transform 100ms linear, box-shadow 100ms linear;
				box-shadow: var(--box-shadow-primary);
				&:hover {
					transform: translateY(-2.5px);
					box-shadow: var(--box-shadow-hover-primary);
				}
				&:active {
					transform: translateY(0);
					box-shadow: var(--box-shadow-active-primary);
				}
			}
		}
	}
	&--shown,
	&--mobile {
		& div.itm-services-header {
			& h2 > span {
				--translateXEnd: 0;
				&:nth-of-type(1) {
					--translateXStart: -50px;
					animation: fadeIn 450ms linear forwards;
				}
				&:nth-of-type(2) {
					--translateXStart: 50px;
					animation: fadeIn 450ms linear forwards;
				}
			}
			& p.itm-services-subtitle {
				--translateYStart: 20px;
				--translateYEnd: 0;
				animation: fadeIn 600ms 600ms var(--cubic-bezier-ease-two) forwards;
			}
		}
		& .itm-services-item {
			&:nth-of-type(1) {
				--translateXStart: -100%;
				--translateYEnd: 0;
				animation: fadeIn 600ms 620ms var(--cubic-bezier-ease-two) forwards;
			}
			&:nth-of-type(2) {
				animation: fadeIn 600ms 650ms var(--cubic-bezier-ease-two) forwards;
			}
			&:nth-of-type(3) {
				--translateXStart: 100%;
				--translateYEnd: 0;
				animation: fadeIn 600ms 620ms var(--cubic-bezier-ease-two) forwards;
			}
		}
		& div.itm-services-footer {
			& p {
				--translateYStart: 20px;
				--translateYEnd: 0;
				animation: fadeIn 600ms 700ms var(--cubic-bezier-ease-two) forwards;
			}
			& div.itm-services-footer-cta {
				--translateYStart: 20px;
				--translateYEnd: 0;
				animation: fadeIn 600ms var(--cubic-bezier-ease-two) 800ms forwards;
			}
		}
		@include respond-down-to('lg') {
			& div.itm-services-content {
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 0;
			}
			& .itm-services-item {
				width: 320px;
				height: 550px;
				margin: 100px 0;
				border-top-right-radius: 50px;
				border-bottom-left-radius: 70px;
				& img {
					width: 200px;
				}
			}
		}
	}
}

@keyframes custom-spin {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
