@use './../../styles/variables' as *;
@use './../../styles/mixins' as *;
.services-page {
	display: flex;
	flex-direction: column;
	padding: 150px 500px;
	background-color: #{$beige};

	&-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		& div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			& h1 {
				display: flex;
				width: 100%;
				justify-content: center;
				align-items: center;
				font-size: 2rem;
				font-weight: bold;
				& span {
					position: relative;
					margin: 0 15px;
					opacity: 0;
					z-index: 1;
					&:nth-of-type(1) {
						--translateXStart: -30px;
						--translateXEnd: 0;
						color: var(--color-text-primary);
						animation: fadeIn 350ms 500ms ease-in-out forwards;
					}
					&:nth-of-type(2) {
						color: #{$white};
						--translateXStart: 30px;
						--translateXEnd: 0;
						animation: fadeIn 350ms 500ms ease-in-out forwards;
						&::before {
							content: '';
							display: flex;
							position: absolute;
							width: 120%;
							height: 110%;
							top: -5px;
							left: -15px;
							z-index: -1;
							transform: skew(-20deg);
							background-color: #{$primary-green-dark};
						}
					}
				}
			}
			& p.services-page-description {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				max-width: 1000px;
				color: var(--color-text-primary);
				margin-top: 20px;
				opacity: 0;
				--translateYStart: 50px;
				--translateYEnd: 0;
				animation: fadeIn 350ms 800ms ease-in-out forwards;
			}
		}
	}
	&-option {
		display: flex;
		width: 100%;
		height: 60px;
		margin: 50px 0;
		justify-content: center;
		align-items: center;
		opacity: 0;
		--scaleStart: 1.3;
		--scaleEnd: 1;
		animation: scale-to-normal 350ms 1000ms ease-in-out forwards;
		&-container {
			display: flex;
			position: relative;
			width: 750px;
			height: 50px;
			justify-content: center;
			align-items: center;
			border: var(--border-primary);
			border-radius: var(--border-radius-primary);
			box-shadow: var(--box-shadow-primary);
			background-color: transparent;
			& span.services-page-option-indicator {
				display: flex;
				position: absolute;
				width: 250px;
				height: 100%;
				border-radius: var(--border-radius-primary);
				background-color: #{$primary-green-dark};
				z-index: 0;
				transform: translateX(-100%);
				transition: transform 350ms 100ms ease;
				z-index: 1;
			}
		}
		&-item {
			display: flex;
			width: 250px;
			height: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
			z-index: 2;
			& span {
				cursor: pointer;
				position: relative;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				text-align: center;
				display: flex;
				width: 100%;
				font-size: 18px;
				font-weight: 600;
				color: var(--color-text-primary);
				transition: transform 350ms ease, color 350ms 350ms ease;
			}
			&--active {
				& span {
					color: #{$white};
				}
			}
		}
	}
	&-content-container {
		display: flex;
		flex-direction: column;
	}
	&-content-body {
		display: flex;
		margin: 50px 0;
		border: var(--border-primary);
		padding: 50px;
		border-radius: var(--border-radius-primary);
		box-shadow: var(--box-shadow-primary);
		opacity: 0;
		--translateYStart: 50px;
		--translateYEnd: 0;
		animation: fadeIn 350ms ease-in-out forwards;
		&:nth-of-type(even) {
			flex-direction: row-reverse;
			& img {
				margin-right: 50px;
			}
		}
		&:nth-of-type(odd) {
			& img {
				margin-left: 50px;
			}
		}

		& img {
			width: 300px;
		}
	}
	&-content-header {
		& h3 {
			font-size: 24px;
			font-weight: bold;
			color: var(--color-text-primary);
			margin: 0 0 10px 0;
		}
	}
	&-content-text {
		display: flex;
		opacity: 0;
		transition: opacity 350ms ease;
		--translateXStart: -20px;
		--translateXEnd: 0;
		--translateYStart: 0;
		--translateYEnd: 0;
		animation: fadeIn 550ms ease-in-out forwards;
	}
	@include respond-down-to('lg') {
		padding: 180px 50px;
		&-header {
			& nav.breadcrumb {
				display: none;
			}
		}
		&-option {
			& div.services-page-option-container {
				width: 400px;
				& span.services-page-option-indicator {
					width: 133.33px;
				}
			}
		}
		& p.services-page-description {
			max-width: 1000px;
		}
		&-content {
			& div.services-page-content-body {
				padding: 15px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				& div.services-page-content-header {
					& h3 {
						font-size: 20px;
					}
				}
				& div.services-page-content-description {
					font-size: 14px;
				}
				& img {
					width: 150px;
					height: 150px;
					margin: 10px 0;
				}
			}
		}
	}
	@include respond-down-to('xl') {
		padding: 150px 0;
		justify-content: center;
		align-items: center;
		&-header {
			& nav.breadcrumb {
				display: none;
			}
		}
		&-content {
			max-width: 500px;
			& div.services-page-content-body {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				& div.services-page-content-header {
					& h3 {
						font-size: 20px;
					}
				}
				& div.services-page-content-description {
					font-size: 14px;
				}
			}
		}
		& p.services-page-description {
			max-width: 1000px;
		}
		&-option {
			& div.services-page-option-container {
				width: 400px;
				& span.services-page-option-indicator {
					width: 133.33px;
				}
			}
		}
	}
}
