@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes scale-to-normal {
	0% {
		opacity: var(--opacityStart, 0);
		transform: scale(var(--scaleStart));
	}
	100% {
		opacity: var(--opacityEnd, 1);
		transform: scale(var(--scaleEnd));
	}
}

@keyframes scale-to-show-horizontal {
	0% {
		transform: scaleX(var(--scaleXStart, 0));
		opacity: var(--opacityStart, 0);
	}
	100% {
		transform: scaleX(var(--scaleXEnd, 1));
		opacity: var(--opacityEnd, 1);
	}
}

@keyframes scale-to-show-vertical {
	0% {
		transform: scaleY(var(--scaleYStart, 0));
		opacity: var(--opacityStart, 0);
	}
	100% {
		transform: scaleY(var(--scaleYEnd, 1));
		opacity: var(--opacityEnd, 1);
	}
}

@keyframes extend-width {
	0% {
		width: 0;
		opacity: var(--opacityStart, 0);
	}
	100% {
		width: 100%;
		opacity: var(--opacityEnd, 1);
	}
}

@keyframes extend-height {
	0% {
		height: 0;
		opacity: var(--opacityStart, 0);
	}
	100% {
		height: 100%;
		opacity: var(--opacityEnd, 1);
	}
}

@keyframes fadeIn {
	0% {
		opacity: var(--opacityStart, 0);
		transform: translate(var(--translateXStart, 0), var(--translateYStart, 0));
	}
	100% {
		opacity: var(--opacityEnd, 1);
		transform: translate(var(--translateXEnd, 0), var(--translateYEnd, 0));
	}
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes ripple-animation {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

@keyframes background-shift {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
