@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.policy-page {
	display: flex;
	flex-direction: row;
	padding: 80px;
	max-height: 100vh;
	position: relative;
	padding: 100px;
	@include respond-down-to('md') {
		flex-direction: column;
		max-height: 100%;
	}
}
.header-container {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	height: 100vh;
	width: 40%;
	padding: 20px;
	& h1,
	& > p {
		--translateXStart: -100px;
		--translateXEnd: 0;
		opacity: 0;
		animation: fadeIn 350ms 700ms var(--cubic-bezier-ease) forwards;
		&.last-updated {
			margin: 15px 0;
		}
	}
	& div.header-description {
		& h1 {
			font-size: 50px;
			color: var(--color-text-secondary);
		}

		& p {
			--translateYStart: 100px;
			--translateYEnd: 0;
			opacity: 0;
			color: var(--color-primary);
			line-height: 35px;
			animation: fadeIn 450ms 700ms var(--cubic-bezier-ease) forwards;
		}
	}
	@include respond-down-to('md') {
		width: 100%;
		justify-content: center;
		align-items: center;
		& h1 {
			text-align: center;
		}
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding: 20px;
	overflow-y: scroll;
	scrollbar-width: none;
	border-radius: var(--border-radius-primary);
	background-color: var(--color-background-alt);
	box-shadow: var(--box-shadow-inset);
	opacity: 0;
	--translateXStart: 100px;
	--translateXEnd: 0;
	animation: fadeIn 550ms 650ms var(--cubic-bezier-ease-two) forwards;
	& h2 {
		font-size: 30px;
		color: var(--color-text-secondary);
		margin-top: 20px;
	}
	& h3 {
		font-size: 24px;
		color: var(--color-text-secondary);
		margin-top: 15px;
	}
	& strong {
		font-weight: 600;
		color: var(--color-text-secondary);
	}
	& p {
		color: var(--color-text-secondary);
		line-height: 25px;
		margin-bottom: 20px;
	}
	& ul {
		list-style-type: disc;
		margin-left: 20px;
		& li {
			color: var(--color-text-secondary);
			line-height: 25px;
		}
	}
	& a {
		color: var(--color-primary);
		text-decoration: underline;
		&:hover {
			color: var(--color-secondary-blue);
		}
	}

	@include respond-down-to('md') {
		width: 100%;
		
	}
}
